@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&family=Rowdies:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: azure;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rowdies', cursive;
}

.header {
    padding: 7px;
    margin: 20px auto;
    text-align: center;
    width: 80%;
    border-radius: 14px;
    /* background-color: #d0d0d5; */
}

.css {
    color: blue;
    text-decoration: underline;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    /* background-color: #eeeef0; */
    margin: 10px auto;
    padding: 30px;
}

/* Reusable */

.logo-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 30px;
    background-color: rgb(219, 163, 163);
    gap: 50px;
}

.logo-name {
    font-size: 50px;
    color: #002ead;
    font-weight: 700;
    width: 40%;
}

span {
    color: #f06033;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50%;
    height: 40vh;
    margin: 5px;
    background-color: azure;
    border-radius: 25px;
}

/* Git Logo */

.git-logo {
    margin: 20px;
    height: 150px;
    width: 150px;
    background-color: #f06033;
    transform: rotate(45deg);
    border-radius: 14px;
    position: relative;
}

.line1 {
    background-color: white;
    position: absolute;
    width: 110px;
    height: 12px;
    top: 40px;
}

.line1::before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 30px;
    top: -8px;
}   

.line1::after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    left: 95px;
    top: -8px;
}

.line2 {
    position: absolute;
    background-color: white;
    width: 90px;
    height: 12px;
    top: 70px;
    left: 30px;
    transform: rotate(45deg);
}

.line2::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    left: 70px;
    top: -8px;
}



/* GOOGLE LOGO */

.google-logo {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: azure;
    padding: 0;
    border-top: 30px solid #ea4335;
    border-right: 30px solid #4285f4;
    border-left: 30px solid #fbbc05;
    border-bottom: 30px solid #34a853;
}

.google-logo::before {
    content: '';
    position: absolute;
    width: 75px;
	height: 30px;
    top: 50%;
    background-color: #4285f4;
    right: -28px;
    transform: translateY(-50%);
}

.triangle:after{
    content:'';
    position:absolute;
    top: -62px;
    left: 55px;
    width: 0;
    height: 0;
    border-left: 85px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 92px solid azure;
}
