@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&family=Rowdies:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #212121;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rowdies', cursive;
    width: 100%;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0.5;
    color: azure;
    background-color: rgba(71, 69, 71, 0.9);
}

.header {
    padding: 7px;
    margin: 20px auto;
    text-align: center;
    width: 48%;
    border-radius: 14px;
    color: antiquewhite;
    background: linear-gradient(163deg, #44e48f 0%, #053549 100%);
    transition: all .3s;
}

.header:hover {
    background: linear-gradient(163deg, #70d49f 0%, #3b819c 100%);
}
.css {
    color: #44e48f;
    text-decoration: underline;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /* background-color: #eeeef0; */
    margin: 10px auto;
    padding: 30px;
}

/* Reusable */

.logo-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 30px;
    background: linear-gradient(163deg, #7db698 0%, #0991c7 100%);
    gap: 10px;
    transition: all .3s;
}

.logo-container:hover {
    box-shadow: 5px 5px 10px 1px rgb(250, 245, 241);
    background: linear-gradient(120deg, #00b7ff 0%, #2b5039 100%);
    transform: scale(0.99);
   }

.logo-name {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    width: 40%;
}

span {
    color: #f06033;
    text-shadow: -2px -2px #0f0a0a;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50%;
    height: 40vh;
    margin: 5px;
    background-color: rgb(59, 59, 59);
    border-radius: 25px;
}


/* Youtube */

.black {
    color: rgb(26, 25, 25);
    text-shadow: -2px -2px #0f0a0a;
}

.tube {
    color: white; 
    background-color: red;
    padding: 1px 8px;
    border-radius: 20px;
}


.youtube-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 150px;
    background-color: red;
    border-radius: 30px;
}

.play-button {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid white;
    transform: rotate(90deg);
}


/* Netflix */

.netflix {
    color: red;
    text-shadow: -2px -2px #171718;
}

.netflix-logo {
    height: 13rem;
    width: 9rem;
    border-left: 3rem solid #e50914;
    border-right: 3rem solid #e50914;
    position: absolute;
}

.netflix-logo::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #e50914;
    transform: skewX(25deg);
    box-shadow: 0 0 30px black;
  }

   .netflix-logo::after {
    content: '';
    width: 15rem;
    height: 2rem;
    background: rgb(59, 59, 59);
    border-radius: 50%;
    position: absolute;
    left: -190%;
    top: 98%;
  } 


  /* GOOGLE LOGO */

.blue {
    color: #4285f4;
    text-shadow: -2px -2px #171718;
}

.red {
    color: #ea4335;
    text-shadow: -2px -2px #171718;
}

.yellow {
    color: #fbbc05;
    text-shadow: -2px -2px #171718;
}

.green {
    color: #34a853;
    text-shadow: -2px -2px #171718;
}

.google-logo {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(59, 59, 59);
    padding: 0;
    border-top: 30px solid #ea4335;
    border-right: 30px solid #4285f4;
    border-left: 30px solid #fbbc05;
    border-bottom: 30px solid #34a853;
}

.google-logo::before {
    content: '';
    position: absolute;
    width: 75px;
	height: 30px;
    top: 50%;
    background-color: #4285f4;
    right: -28px;
    transform: translateY(-50%);
}

.triangle:after{
    content:'';
    position:absolute;
    top: -61px;
    left: 42px;
    width: 0;
    height: 0;
    border-left: 95px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 92px solid rgb(59, 59, 59);
}

/* Git Logo */

.git {
    color: #f06033;
    text-shadow: -3px -3px #171718;
    box-shadow: 0px 0px 13px rgb(26, 25, 25);
    padding: 3px 10px;
    border-radius: 14px;
}

.git-logo {
    margin: 20px;
    height: 150px;
    width: 150px;
    background-color: #f06033;
    transform: rotate(45deg);
    border-radius: 14px;
    position: relative;
}

.line1 {
    background-color: white;
    position: absolute;
    width: 110px;
    height: 12px;
    top: 40px;
}

.line1::before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 30px;
    top: -8px;
}   

.line1::after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    left: 95px;
    top: -8px;
}

.line2 {
    position: absolute;
    background-color: white;
    width: 90px;
    height: 12px;
    top: 70px;
    left: 30px;
    transform: rotate(45deg);
}

.line2::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    left: 70px;
    top: -8px;
}

.react-logo {
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: #5ed3f3;
    border-radius: 50%;
}

.circle {
    position: absolute;
    width: 50px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid #5ed3f3;
    top: -58px;
    left: -13px;
}

.rotate1 {
    transform: rotate(30deg);
}

.rotate2 {
    transform: rotate(-30deg);
}

.rotate3 {
    transform: rotate(90deg);
}









